.flex-centered {
  margin: auto;
}
nb-card-body {
  display: flex;
}

.title {
  text-align: center;
}

.sub-title {
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.home-button {
  margin-bottom: 2rem;
}

:host ::ng-deep .p-dialog .product-image {
  width: 150px;
  margin: 0 auto 2rem auto;
  display: block;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td{
  text-align: justify;

}