/* You can add global styles to this file, and also import other style files */

@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/primeng.css";
@import '../node_modules/primeng/resources/primeng.min.css';


@import 'assets/showcase/styles/layout/layout.scss';
@import 'assets/showcase/styles/primeng.css';
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/quill/dist/quill.snow.css';
@import 'assets/showcase/styles/flags.css';
@import '../node_modules/@docsearch/css/dist/style.css';


// conflict style 
@import '../node_modules/primeflex/primeflex.scss';
// 

html {
    font-size: 1rem;
    height: 100%;
}

body {
    font-family: var(--font-family);
    background-color: var(--surface-ground);
    color: var(--text-color);
    padding: 0;
    margin: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}